.container {
   display: flex;
   height: 100%;
   width: 100%;
   align-items: center;
   justify-content: center;
   position: relative;
}

.calculator-body {
    height: 350px;
    display: flex;
    width: 350px;
    border: 4px solid blue;
    justify-content: center;
}

.number-display {
    width:95%;
    border: solid 2px black;
    height: 20%;
    margin-top: 5%;
}

.number-input-keys {
    width: 70%;
    border: solid 2px gray;
    height: 70%;
    position: absolute;
    bottom: 2%;
    left: 6%;
}

.operation-input-keys {
    width: 15%;
    border: solid 2px darkblue;
    height: 70%;
    position: absolute;
    bottom: 2%;
    right: 6%;
}

.single-num-key {
    width: 3%;
    height: 3%;
    border: solid 1px black;
    position: absolute;

}




